{% extends 'base.html' %}

{% block content  %}


<section class="flat-spacing-11">
            <div class="container">
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">Shopping Cart</div>
            </div>
        </div>
        <!-- /page-title -->
        <table class="tf-table-page-cart">
            <thead>
                {% if cart_items %}
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                        <tbody>
                             {% for item in cart_items %}


        <tr class="tf-cart-item file-delete">
                                        <td class="tf-cart-item_product">
                                            
                                             <a href="{{ item.product.image1.url }}" class="img-box">
                                                <img src="{{ item.product.image1.url }}" alt="img-product">
                                            </a>
                                          
                                           
                                            <div class="cart-info">
                                                <a href="product-detail.html" class="cart-title link">{{ item.product.name }}</a>
                                                <div class="cart-meta-variant">{{ item.product.category.name }}</div>
                                               <a class="remove-cart link remove" href="{% url 'remove_from_cart' item.product.id %}">Remove</a>
                                                 

                                            </div>
                                        </td>
                                        <td class="tf-cart-item_price" cart-data-title="Price">
                                            <div class="cart-price">Ksh{{ item.product.price }}</div>
                                        </td>
                                        <td class="tf-cart-item_quantity" cart-data-title="Quantity">
                                            <div class="cart-quantity">
                                                <div class="wg-quantity">
                                                    <span class="btn-quantity ">
                                                        <svg class="d-inline-block" width="9" height="1" viewBox="0 0 9 1" fill="currentColor"></svg>{{ item.quantity }}
                                                    </span>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tf-cart-item_total" cart-data-title="Total">
                                            <div class="cart-total">Ksh{{ item.get_total_price }}</div>
                                        </td>
                                    </tr>
                  
                               {% csrf_token %}
                              
                    {% endfor %}
                   
               
               
                
                        </div>
                    </div>
                </div>
            


                
                </tbody>
    
            </table>
              {% else %}

   <div class="tf-page-cart text-center mt_140 mb_200">
                    <h5 class="mb_24">Your cart is empty</h5>
                    <p class="mb_24">You may check out all the available products and buy some in the shop</p>
                    <a href="shop-default.html" class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">Return to shop<i class="icon icon-arrow1-top-left"></i></a>
                </div>

           {% endif %}
    </div>
    <div class= "d-flex justify-content-center">
        <button class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">TOTAL PRICE: Ksh {{total}}</button>                    
    </div>
   
</section>
      



  <div class="tf-page-cart">
                        <div class="tf-cart-inner">
                            <h5 class="fw-5 mb_20">RECEIPT DETAILS</h5>
                            <form class="tf-page-cart-checkout widget-wrap-checkout">
                                {% csrf_token %}
                                
                                <ul class="wrap-checkout-product">
                                    {% for item in cart_items %}
                
                    
                    
                
                
                                    <li class="checkout-product-item">
                                        <figure class="img-product">
                                            <img src="{{ item.product.image1.url }}" alt="product">
                                            <span class="quantity">{{ item.quantity }}</span>
                                        </figure>
                                        <div class="content">
                                            <div class="info">
                                                <p class="name">{{ item.product.name }}</p>
                                                <span class="variant"></span>{{ item.product.name }} x {{ item.quantity }}</span>
                                            </div>
                                            <span class="price">Ksh{{ item.get_total_price }}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    
                                    
                                    
                                </ul>
                                
                                <div class="d-flex justify-content-between line pb_20">
                                    <h6 class="fw-5">Total</h6>
                                    <h6 class="total fw-5">Ksh {{ total }}</h6>
                                </div>
                                <div class="wd-check-payment">
                                    <div class="fieldset-radio mb_20">
                                        <input type="radio" name="payment" id="bank" class="tf-check" checked>
                                        <label for="bank">Direct bank transfer</label>
                                       
                                    </div>
                                    <div class="fieldset-radio mb_20">
                                        <input type="radio" name="payment" id="delivery" class="tf-check">
                                        <label for="delivery">Cash on delivery</label>
                                    </div>
                                    <div class="fieldset-radio mb_20">
                                        <input type="radio" name="payment" id="delivery" class="tf-check">
                                        <label for="delivery">MPESA</label>
                                    </div>
                                    <p class="text_black-2 mb_20">Your personal data will be used to process your order <a href="privacy-policy.html" class="text-decoration-underline">privacy policy</a>.</p>
                                    <div class="box-checkbox fieldset-radio mb_40">
                                        <input type="checkbox" id="check-agree" class="tf-check" checked>
                                        <label for="check-agree" class="text_black-2">Thank You For Shopping With Us <a href="terms-conditions.html" class="text-decoration-underline">terms and conditions</a>.</label>
                                    </div>
                                </div>
                                <div class="coupon-box">
                                    <!-- <input type="text" placeholder="Discount code"> -->
                                    <a href="" class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">Place Order</a>
                                </div>
                            </form>
                        </div>
        <!-- /product -->

{% endblock %}